<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyAddress" value="Mihai-PC"/>
    <add key="port" value="5081"/>
    <add key="servicePath" value="MViewer"/>
    <add key="FriendlyName" value="Mihai Darie"/>
    <add key="dataBasePath" value="Contacts.xml"/>
  </appSettings>
</configuration>