<configuration>
  <system.runtime.remoting>
    <application>

      <service>
        <wellknown mode="Singleton" type="WpfRemotingServer.SingletonServer, WpfRemotingServer" objectUri="DesktopSharing" />
      </service>

    </application>
  </system.runtime.remoting>
    <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>