<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="log4net.Config" value="C:\MViewer\MViewer\log4net.config"/>
    
    <add key="MyAddress" value="10.19.0.124"/>
    <add key="port" value="8082"/>
    <add key="servicePath" value="MViewer"/>
    <add key="FriendlyName" value="Mihai"/>
    <add key="dataBasePath" value="Contacts.xml"/>
    <add key="videoTimerInterval" value="200"/>
    <add key="remotingTimerInterval" value="100"/>
    <add key="audioTimerInterval" value="2000"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
