<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyAddress" value="10.19.0.125"/>
    <add key="port" value="8082"/>
    <add key="servicePath" value="MViewer"/>
    <add key="FriendlyName" value="lazucu"/>
    <add key="dataBasePath" value="Contacts.xml"/>
    <add key="timerInterval" value="51"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
